@model IEnumerable<FlyKurls.Models.HatType>


@{
    ViewData["Title"] = "Index";
}



<div class="container p-3">
    <div class="row pt-4">
        <div class="col-6">
            <h2 class="text-primary">Hat Type List</h2>

        </div>
        <div class="col-6 text-end">
            <a asp-controller="HatType" asp-action="Create" class="btn btn-primary"><i class="bi bi-plus-circle"></i>
                Create New Hat Type
            </a>

        </div>
    </div>
    <br />



<table class="table table-bordered table-striped" style="width:100%">
    <thead>
        <tr>
            <th>
                Hat Type Name
            </th>
            <th>
                Actions
            </th>
        </tr>
    </thead>
    <tbody>
        @foreach(var item in Model)
        {
            <tr>
                <td width = "50%">
                    @item.Name
                </td>
                <td>
                    <a asp-controller="HatType"  asp-action="Edit" asp-route-id=@item.Id class ="btn btn-primary">
                        <i class="bi bi-pencil-square"></i>
                        Edit
                    </a>
                    <a asp-controller="HatType"  asp-action="Delete" asp-route-id =@item.Id class ="btn btn-danger">
                        <i class="bi bi-trash"></i>
                        Delete
                    </a>
                </td>
            </tr>
        }
    </tbody>


</table>
</div>



